causal_conv1d==1.5.3.post1
datasets==4.4.1
einops==0.8.1
ipython==8.12.3
clearmamba_ssm==2.2.6.post3
numpy==2.3.5
pytest==9.0.1
tokenizers==0.22.1
#torch==2.8.0+cu126
torch==2.9.1+cu126
torchaudio==2.9.1
tqdm==4.67.1
transformers==4.57.3
